---
layout: default
title: Tags
permalink: /tags/
---

<div class="page">
  <h1 class="page-title">Tags</h1>
  
  <div class="tags-cloud">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
      {% assign tag_name = tag | first %}
      {% assign posts = tag | last %}
      {% assign tag_size = posts.size | times: 0.1 | plus: 0.8 %}
      <a href="#{{ tag_name | slugify }}" class="tag-link tag-size-{{ posts.size }}">
        {{ tag_name }} <span class="tag-count">({{ posts.size }})</span>
      </a>
    {% endfor %}
  </div>

  <div class="tags-list">
    {% for tag in sorted_tags %}
      {% assign tag_name = tag | first %}
      {% assign posts = tag | last %}
      <div class="tag-group">
        <h2 id="{{ tag_name | slugify }}" class="tag-title">{{ tag_name }}</h2>
        <ul class="tag-posts">
          {% for post in posts %}
            <li class="tag-post">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
              {% if post.abstract %}
                <div class="post-abstract">{{ post.abstract | truncatewords: 30 }}</div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div> 